html {
  height: 100%;
  min-height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #78787A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-align: left;
    
  }


/* SVG retangulo*/


.svg-retangle {
  z-index: -1;
  position: absolute;
  right: 100px;
  top: 50%;
  width: 600px;
  height: 600px;
}

.retangle {
  
  width: 800px;
  height: 50vh;
  fill: #B62638;

}

.svg-circle {
  position: absolute;
  right: -15%;
  top: 63%;
  width: 600px;
  height: 600px;
}

.background-header {
  background-image: url(../public/dots.png);
  background-size: contain;
  background-color: #1F1F1F;
  color: #78787A;
}

.size-header {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 480px;
  height: 100vh;
  max-height: 1080px;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  z-index: -1;
  position: absolute;
}

/* Toolbar */

.toolbar {
  display: flex !important;
  align-items: center;
  padding-top: 120px;

}
@media screen and (min-width: 1370px) {
  .toolbar {
    padding-top: 200px;
  }
}

.nav-link {

  color: #78787A;
}
.nav-link:hover {

  color: rgb(89, 89, 92);
}

.text {
  color: #e1e1e6;
}

.text-black {
  color: #070708;
}

footer {
  background-color: #1F1F1F;
  background-image: url(../public/dots.png);
  background-size: contain;
  margin-top: auto;
  padding: 48px 0px;
}

.svg-retangle-footer {
  position: absolute;
  right: 100px;
  width: 600px;
  height: 60px;
}

@media (max-width: 480px){

  .svg-retangle {

    display: none;
  }
}

@media (max-width: 480px){

  .phone {

    display: none !important;
  }
}

.title {

  flex: 1;
}

/* Toolbar Hamburguer */

@media (max-width: 720px) {}

  .css-erca8v {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

}



/* Imagem Header */

.img-header {
  box-shadow: 2px;
  border-radius: 0 !important; 
  width: auto;
  height: auto; 
  max-width: 600px; 
  max-height: 600px;
}


@media (max-width: 480px) {

  .button {

    display: inherit !important;
    margin: 8px auto !important;
  }
}

.button:hover {

  border: 1px solid #ff4b62 !important;
  color: #ff4b62 !important;
  background-color: rgb(0,0,0,0) !important
  
}

.size-100 {
  height: 80vh;
}

.size-80 {
  height: 100vh
}

.p-center {
  text-align: justify;
  color: #e1e1e6;

}
.h1-center {
  text-align: center;
  padding-top: 40px !important;
  color: #e1e1e6;
  
}

.trol {
  position: absolute;
  height: 200px;
}

/* Main Projetos */

.foto-petiano {

  background-image: linear-gradient(to bottom, #252525 23%, #2e2d2d 23%)
}


.paper {

  width: 20rem;
  color: #fff;
  box-shadow: 2.86px 6.67px 14.29px rgba( 0, 0, 0, 0.67 ) !important;
  border-radius: 0 !important;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: .9rem;
  padding: 0.4rem 1.9rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-img-top:hover {

  transform: scale(1.8)
}

/* Main */



/* h1 */

h1 {

  font-size: 4.5em;
  line-height: 1;
  text-align: center;
  color: var(--color-secondary);
  font-weight: 600;
  width: 100%;
  max-width: 615px;
  margin: 0 auto;

}

@media (max-width: 760px) {
  
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 480px) {

  h1 {

    font-size: 35px;
    line-height: 40px;
    max-width: 275px;
  }
}

/* h2 */

h2 {

  padding: 40px 0 24px 0 !important;
  font-size: 54px !important;
  line-height: 107% !important;
  font-weight: 700 !important;
}



@media screen and (max-width: 1160px) {

  h2 {
    font-size: 40px !important;
  };

  
}

@media screen and (max-width: 480px) {

  h2 {
    font-size: 30px !important;
    line-height: 117% !important;
    padding: 24px 0 16px 0 !important;
  };

}

/* h3 */

h3 {

  font-size: 1.4em;
}

@media (max-width: 760px) {

  h3 {

    font-size: 1.2em;
  }
}

@media (max-width: 480px) {

  h3 {

    font-size: .9em;
    text-align: center;
  }
}

.grid {

  padding-bottom: 10px;
  position: relative;
}

.img-svg-left {
  position: absolute;
  left: -1rem;
  top: -1rem;
  height: 18rem !important;

}



.banner-left {
  position: absolute;
  left: 26rem;
  bottom: -1rem;
  height: 4rem;
}

.img-svg-right {
  position: absolute;
  right: -1rem;
  top: -1rem;
  height: 18rem !important;

}

.banner-right {
  position: absolute;
  right: 26rem;
  bottom: -1rem;
  height: 4rem;
}

@media (max-width: 780px) {

  .img-svg-left {
    height: 11rem !important;
  }

  .banner-left {

    display: none
  }

  .img-svg-right {
    left: -1rem;
    height: 11rem !important
  }

  .banner-right {

    display: none
  }

  .size-100 {
    padding: 1rem !important
  }
}

.container {

  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  -webkit-align-items: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  padding: 20px 0;
  max-width: 1120px;
}

@media (max-width: 760px) {

  .container {
    display: block !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-align-items: flex-start !important;
    -webkit-box-align: flex-start !important;
    -ms-flex-align: flex-start !important;
    align-items: flex-start !important;
    padding: 20px 0;
  };

}

@media (max-width: 780px) {

  .reverse {

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column-reverse !important;
    display: flex !important;
  }
}

@media (max-width: 780px) {

  .toolbar-logo {

    padding: 20px 0;
  }
}